.add_pin_modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
}

.add_pin_container {
    padding: 35px;
    width: 880px;
    height: 674px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    background-color: #FFFFFF;
}

.side {
    padding: 20px;
    width: 50%;
    height: 100%
}

#left{
    /* background-color: orange; */
}

#right {
    /* background-color: blue; */
}

.icon_pint_container{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    cursor:pointer;
    flex-shrink: 0;
}

.icon_pint{
    width: 50%;
}

.section1{
    width: 100%;
    height: 8%;
    /* background-color: purple; */
}

.section2{
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.section3{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: firebrick; */
}

#left .section2{
    margin-top: 30px;
    height: 80%;
}

#left .section2 #img_upload_label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#left .section2 #img_upload_label input{
    width: 0px;
    height: 0px;
    opacity: 0;
}

#left .section2 #img_upload_label .img_upload_container{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
    background-color: #EFEFEF;
}

#left .section2 #img_upload_label .img_upload_container #dotted_border{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px dashed #DADADA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#left .section2 .icon_pint_container {
    background-color: #767676;
}

#left .section3{
    margin-top: 20px;
}

#left .section3 .preview{
    width: 340px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    display: flex;
    background-color: #EFEFEF;
    cursor: pointer;
    transition-duration: 0.2s;
}

.pre_preview{
    font-weight: 700;
}

.\.preview_text{
    margin-top: 2%;
    padding: 30px;
    width: 100%;
    font-size: normal;
}
.\.preview_text p{
    font-size: smaller;
    font-style: italic;
    align-items: left;
    justify-content: left;
}

.modals_pin{
    width: 252px;
    height: 512px;
    position: relative;
    display: none;
    opacity: 0;
    overflow: hidden;
    border-radius: 16px;
}

.image_pin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .image_pin img{
    max-height: 100%;
} */

.pin_max_width{
    max-width: 100%;
}

.pin_max_height{
    max-height: 100%;
}

#right .section1 {
    display: flex;
    justify-content: flex-end;
}

#right .section1 .select_size {
    width: 236px;
    height: 40px;
    display: flex;
}

#right .section1 .select_size select {
    width: 70%;
    height: 100%;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: #EFEFEF;
}

#right .section1 .select_size .pin_save {
    width: 30%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    background-color: #e60023;
    cursor: pointer;
}

#right .section2{
    height: 50%;
}

#right .section2 .new_pin_input{
    width: 100%;
    height: 50px;
    border: none; 
    border-bottom: 2px solid #C6C6C6;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

#right .section3 .preview_button{
    width: 170px;
    height: 30px;
    left: 50%;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: #EFEFEF;
    cursor: pointer;
}
  

