.card{
  top: 10%;
  margin-left: 10%;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 590px;
  border-radius: 16px;
  display: inline-block;
}

.title_pin{
  width:0px;
  height: 0px;
  opacity: 0;
}

.modal_pin:hover {
  opacity: 1;
}

.card:hover .description_box {
  display: flex;
  opacity: 1;
}

.modal_pin {
  width:60%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

  z-index: 9999;
  background-color: rgba(0,0,0,0.1);

  opacity: 0;
  transition-duration: 0.3s;
}

.modal_pin .modal_head {
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal_pin .modal_foot {
  width: 100%;
  height: 15%;
  position: fixed;
  bottom: 17%;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}
 .modal_pin .modal_head .save_card{
  margin-right: 20px;
  width: 40px;
  height:38px;
  border-radius: 20px;
  border: 1px rgba(0.0.0.0,1);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;

  color: white;
  background-color: rgba(0.0.0.1);
  cursor:pointer;
}

.icon_pint{
  width: 50%;
}

.icon_pint_container{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor:pointer;
  flex-shrink: 0;
}

.modal_pin .modal_foot .destination span{
  overflow: hidden;
}

.modal_pin .modal_foot .destination{
  width: 132px;
  height: 32px;
  border-radius: 18px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

}
.image_pin img{
  max-height: 100%;
} 

.image_pin{
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 16px;
}

.description_box{
  width: 60%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  display: none;
  opacity: 0;
  background-color: #EFEFEF;
}

.description_text{
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  font-size: normal;
}

.description_box p {
  font-size: smaller;
  font-style: italic;
  align-items: left;
  justify-content: left;
}

.comments_section{
  opacity: 0;
  float: right;
  width: 33%;
  height: 75%;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 16px;
}


 