/* .card{
  top: 10%;
  margin-left: 10%;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 590px;
  border-radius: 16px;
  display: inline-block;
} */

.title_pin{
  width:0px;
  height: 0px;
  opacity: 0;
}

.modal_pin:hover {
  opacity: 1;
}

.card:hover .description_box {
  display: flex;
  opacity: 1;
}

.modal_pin {
  width: 60%;
  height: 75%;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);

  z-index: 9999;
  background-color: rgba(0,0,0,0.1);

  opacity: 0;
  transition-duration: 0.3s;
}

.modal_pin .modal_head {
  width: 100%;
  height: 15%;
  position: fixed;
  top: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal_pin .modal_foot {
  width: 100%;
  height: 10%;
  position: fixed;
  left:0%;
  bottom: 0%;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  margin-left: 2px;
}
 .modal_pin .modal_head .save_card{
  margin-right: 20px;
  margin-top: 10px;
  width: 40px;
  height:38px;
  border-radius: 20px;
  border: 1px rgba(0.0.0.0,1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  color: white;
  background-color: rgba(0.0.0.1);
  cursor:pointer;
}

.modal_pin .modal_head .save_card a{
  text-decoration: none;
  color: white;
}

.modal_pin .modal_head .save_card a:visited{
  color: white;
}

.modal_pin .modal_head .save_card a:active{
  color: rgb(99, 52, 99);
}


.icon_pint{
  width: 50%;
}

.icon_pint_container{
  width: 11%;
  height: 11%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor:pointer;
  flex-shrink: 0;
}

.modal_pin .modal_foot .destination span{
  overflow: hidden;
}

.modal_pin .modal_foot .destination{
  width: 70px;
  height: 32px;
  border-radius: 18px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 8px;     
  font-weight: 700;

}
.image_pin img{
  max-height: 100%;
} 

/* .image_pin{
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  background-color: yellow;
  align-items: center;
  border-radius: 16px;
} */

.description_box{
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  display: none;
  opacity: 0;
  background-color: #EFEFEF;
  z-index: 9999;
}

.description_box_large {
  width: 60%;
  height: 20%;
}

.description_box_medium{
  margin-top: 10px;
  width: 60%;
  border-radius: 16px;
  font-size: small;
}

.description_box_small{
  font-size: 1em;
  width: 60%;
}

.description_box_large .description_text {
  padding-top: 10px;
  font-size: small;
}

.description_box_medium .description_text{
  font-size: smaller;
}

.description_box_small .description_text{
  font-size: 8px;
}

.description_text{
  margin-top: 2%;
  /* padding-top: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.description_box p {
  font-size: smaller;
  font-style: italic;
  align-items: left;
  justify-content: left;
}

.comments_section{
  display: inline;
  opacity: 0;
  float: right;
  width: 35%;
  height: 75%;
  background-color: gainsboro;
  border-radius: 16px;
  font-size: small;
  font-style: italic;
}

.comments_section h1{
  padding-left: 10px;
}

.comments{
  padding: 5px;
  line-height: 20px;
}

.add_comment{
  width: 100px;
  padding: 2px;
  /* margin-top: 200%; */
}

.close_button{
  padding: 5px;
  cursor: pointer;
  color: whitesmoke;
  background-color: darkslateblue;
  border-radius: 8px;
  text-align: center;
}

#size_choice{
  width: 40px;
  opacity: 0;
}


 